<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
    <link rel="stylesheet" href="css/register.css" />
    <title>Digital Minds Hub - Register</title>
  </head>
  <body>
    <nav>
      <div class="parent">
        <div class="logo">
          <img
            src="assets/logo/logo.svg"
            alt="Digital Minds Hub Logo"
            draggable="false"
            id="logo"
          />
        </div>
        <div class="links">
          <a href="/#about" class="nav-link">About Us</a>
          <a href="/#dmh" class="nav-link">Intiative</a>
          <a href="/#feedback" class="nav-link">Feedback</a>
          <a href="/#courses" class="nav-link">Courses</a>
          <a href="/#contact" class="nav-link">Contact</a>
        </div>
        <div class="buttons" onclick="location.href='/register'">
          <button class="btn btn-primary">Register</button>
        </div>
      </div>
    </nav>

    <section class="one">
      <div class="parent">
        <h3>Join Us Now at Digital Minds Hub!</h3>
        <p style="color: var(--gold); font-family: inherit">
          Ready to start your learning journey with us? You'll find the
          registration form below. If you're applying for financial aid or the
          DMH Programming Literacy Initiative, just check the relevant box.
          After submitting your form, we’ll send you an email with the next
          steps. We’re excited to have you on board!
        </p>
      </div>
    </section>

    <section class="form">
      <div class="parent">
        <div class="master">
          <form action="/register" method="post">
            <h2>Personal Information:</h2>
            <div class="group">
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Full name:"
                required
              />
              <input type="date" name="date" id="date" />
              <input
                type="email"
                name="email"
                id="email"
                placeholder="E-mail address:"
                required
              />
              <select name="gender" id="gender" required>
                <option value="" disabled selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="not">Prefer not to say</option>
              </select>
              <input
                type="text"
                name="citizien"
                id="citizien"
                placeholder="Citizienship:"
                required
              />
              <input
                type="text"
                name="rcountry"
                id="rcountry"
                placeholder="Country of residence:"
                required
              />
              <input
                type="number"
                name="phone"
                id="phone"
                placeholder="Phone number:"
                required
              />
              <select name="grade" id="grade">
                <option value="" disabled selected>Select Grade:</option>
                <option value="g4">Grade 1</option>
                <option value="g4">Grade 2</option>
                <option value="g4">Grade 3</option>
                <option value="g4">Grade 4</option>
                <option value="g5">Grade 5</option>
                <option value="g6">Grade 6</option>
                <option value="g7">Grade 7</option>
                <option value="g8">Grade 8</option>
                <option value="g9">Grade 9</option>
                <option value="g10">Grade 10</option>
                <option value="g11">Grade 11</option>
                <option value="g12">Grade 12</option>
                <option value="Other">Other</option>
              </select>
              <input
                type="text"
                name="school"
                id="school"
                placeholder="School name:"
                required
              />
              <select id="schoolType" name="schoolType" required>
                <option value="" disabled selected>Select School Type:</option>
                <option value="primary">Primary School</option>
                <option value="middle">Middle School</option>
                <option value="high">High School</option>
                <option value="high">STEM High School</option>
                <option value="university">University</option>
                <option value="technical">Technical School</option>
                <option value="vocational">Vocational School</option>
                <option value="international">International School</option>
                <option value="specialEducation">
                  Special Education School
                </option>
              </select>
            </div>
            <h2>Additional Information:</h2>
            <div class="group">
              <input
                type="text"
                name="pname"
                id="pname"
                placeholder="Parent/Guardian Name:"
                required
              />
              <input
                type="number"
                name="pphone"
                id="pphone"
                placeholder="Parent/Guardian Phone:"
                required
              />
              <input
                type="text"
                name="occupation"
                id="occupation"
                placeholder="Parent/Guardian Occupation:"
                required
              />
              <select name="relationship" id="relationship">
                <option value="" disabled selected>Select Relationship to Student:</option>
                <option value="father">Father</option>
                <option value="father">Mother</option>
                <option value="father">Other</option>
              </select>
              <input
                type="email"
                name="pemail"
                id="pemail"
                placeholder="Parent/Guardian E-mail:"
                required
              />
              <select name="course" id="course" required>
                <option value="" disabled selected>Select Course:</option>
                <option value="beginner">Beginner Track</option>
                <option value="web">Web Track</option>
                <option value="robotics">Robotics Track</option>
              </select>
            </div>
            <!-- Adress -->
            <h2>Student’s Address:</h2>
            <div class="group">
              <!-- Country -->
              <select id="country" name="country" class="form-control">
                <option value="Afghanistan">Afghanistan</option>
                <option value="Åland Islands">Åland Islands</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
                <option value="American Samoa">American Samoa</option>
                <option value="Andorra">Andorra</option>
                <option value="Angola">Angola</option>
                <option value="Anguilla">Anguilla</option>
                <option value="Antarctica">Antarctica</option>
                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Aruba">Aruba</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Azerbaijan">Azerbaijan</option>
                <option value="Bahamas">Bahamas</option>
                <option value="Bahrain">Bahrain</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Barbados">Barbados</option>
                <option value="Belarus">Belarus</option>
                <option value="Belgium">Belgium</option>
                <option value="Belize">Belize</option>
                <option value="Benin">Benin</option>
                <option value="Bermuda">Bermuda</option>
                <option value="Bhutan">Bhutan</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Bosnia and Herzegovina">
                  Bosnia and Herzegovina
                </option>
                <option value="Botswana">Botswana</option>
                <option value="Bouvet Island">Bouvet Island</option>
                <option value="Brazil">Brazil</option>
                <option value="British Indian Ocean Territory">
                  British Indian Ocean Territory
                </option>
                <option value="Brunei Darussalam">Brunei Darussalam</option>
                <option value="Bulgaria">Bulgaria</option>
                <option value="Burkina Faso">Burkina Faso</option>
                <option value="Burundi">Burundi</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Cameroon">Cameroon</option>
                <option value="Canada">Canada</option>
                <option value="Cape Verde">Cape Verde</option>
                <option value="Cayman Islands">Cayman Islands</option>
                <option value="Central African Republic">
                  Central African Republic
                </option>
                <option value="Chad">Chad</option>
                <option value="Chile">Chile</option>
                <option value="China">China</option>
                <option value="Christmas Island">Christmas Island</option>
                <option value="Cocos (Keeling) Islands">
                  Cocos (Keeling) Islands
                </option>
                <option value="Colombia">Colombia</option>
                <option value="Comoros">Comoros</option>
                <option value="Congo">Congo</option>
                <option value="Congo, The Democratic Republic of The">
                  Congo, The Democratic Republic of The
                </option>
                <option value="Cook Islands">Cook Islands</option>
                <option value="Costa Rica">Costa Rica</option>
                <option value="Cote D'ivoire">Cote D'ivoire</option>
                <option value="Croatia">Croatia</option>
                <option value="Cuba">Cuba</option>
                <option value="Cyprus">Cyprus</option>
                <option value="Czech Republic">Czech Republic</option>
                <option value="Denmark">Denmark</option>
                <option value="Djibouti">Djibouti</option>
                <option value="Dominica">Dominica</option>
                <option value="Dominican Republic">Dominican Republic</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Egypt">Egypt</option>
                <option value="El Salvador">El Salvador</option>
                <option value="Equatorial Guinea">Equatorial Guinea</option>
                <option value="Eritrea">Eritrea</option>
                <option value="Estonia">Estonia</option>
                <option value="Ethiopia">Ethiopia</option>
                <option value="Falkland Islands (Malvinas)">
                  Falkland Islands (Malvinas)
                </option>
                <option value="Faroe Islands">Faroe Islands</option>
                <option value="Fiji">Fiji</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="French Guiana">French Guiana</option>
                <option value="French Polynesia">French Polynesia</option>
                <option value="French Southern Territories">
                  French Southern Territories
                </option>
                <option value="Gabon">Gabon</option>
                <option value="Gambia">Gambia</option>
                <option value="Georgia">Georgia</option>
                <option value="Germany">Germany</option>
                <option value="Ghana">Ghana</option>
                <option value="Gibraltar">Gibraltar</option>
                <option value="Greece">Greece</option>
                <option value="Greenland">Greenland</option>
                <option value="Grenada">Grenada</option>
                <option value="Guadeloupe">Guadeloupe</option>
                <option value="Guam">Guam</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Guernsey">Guernsey</option>
                <option value="Guinea">Guinea</option>
                <option value="Guinea-bissau">Guinea-bissau</option>
                <option value="Guyana">Guyana</option>
                <option value="Haiti">Haiti</option>
                <option value="Heard Island and Mcdonald Islands">
                  Heard Island and Mcdonald Islands
                </option>
                <option value="Holy See (Vatican City State)">
                  Holy See (Vatican City State)
                </option>
                <option value="Honduras">Honduras</option>
                <option value="Hong Kong">Hong Kong</option>
                <option value="Hungary">Hungary</option>
                <option value="Iceland">Iceland</option>
                <option value="India">India</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Iran, Islamic Republic of">
                  Iran, Islamic Republic of
                </option>
                <option value="Iraq">Iraq</option>
                <option value="Ireland">Ireland</option>
                <option value="Isle of Man">Isle of Man</option>
                <option value="Italy">Italy</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Japan">Japan</option>
                <option value="Jersey">Jersey</option>
                <option value="Jordan">Jordan</option>
                <option value="Kazakhstan">Kazakhstan</option>
                <option value="Kenya">Kenya</option>
                <option value="Kiribati">Kiribati</option>
                <option value="Korea, Democratic People's Republic of">
                  Korea, Democratic People's Republic of
                </option>
                <option value="Korea, Republic of">Korea, Republic of</option>
                <option value="Kuwait">Kuwait</option>
                <option value="Kyrgyzstan">Kyrgyzstan</option>
                <option value="Lao People's Democratic Republic">
                  Lao People's Democratic Republic
                </option>
                <option value="Latvia">Latvia</option>
                <option value="Lebanon">Lebanon</option>
                <option value="Lesotho">Lesotho</option>
                <option value="Liberia">Liberia</option>
                <option value="Libyan Arab Jamahiriya">
                  Libyan Arab Jamahiriya
                </option>
                <option value="Liechtenstein">Liechtenstein</option>
                <option value="Lithuania">Lithuania</option>
                <option value="Luxembourg">Luxembourg</option>
                <option value="Macao">Macao</option>
                <option value="Macedonia, The Former Yugoslav Republic of">
                  Macedonia, The Former Yugoslav Republic of
                </option>
                <option value="Madagascar">Madagascar</option>
                <option value="Malawi">Malawi</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Maldives">Maldives</option>
                <option value="Mali">Mali</option>
                <option value="Malta">Malta</option>
                <option value="Marshall Islands">Marshall Islands</option>
                <option value="Martinique">Martinique</option>
                <option value="Mauritania">Mauritania</option>
                <option value="Mauritius">Mauritius</option>
                <option value="Mayotte">Mayotte</option>
                <option value="Mexico">Mexico</option>
                <option value="Micronesia, Federated States of">
                  Micronesia, Federated States of
                </option>
                <option value="Moldova, Republic of">
                  Moldova, Republic of
                </option>
                <option value="Monaco">Monaco</option>
                <option value="Mongolia">Mongolia</option>
                <option value="Montenegro">Montenegro</option>
                <option value="Montserrat">Montserrat</option>
                <option value="Morocco">Morocco</option>
                <option value="Mozambique">Mozambique</option>
                <option value="Myanmar">Myanmar</option>
                <option value="Namibia">Namibia</option>
                <option value="Nauru">Nauru</option>
                <option value="Nepal">Nepal</option>
                <option value="Netherlands">Netherlands</option>
                <option value="Netherlands Antilles">
                  Netherlands Antilles
                </option>
                <option value="New Caledonia">New Caledonia</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Niger">Niger</option>
                <option value="Nigeria">Nigeria</option>
                <option value="Niue">Niue</option>
                <option value="Norfolk Island">Norfolk Island</option>
                <option value="Northern Mariana Islands">
                  Northern Mariana Islands
                </option>
                <option value="Norway">Norway</option>
                <option value="Oman">Oman</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Palau">Palau</option>
                <option value="Palestinian">Palestinian ❤️</option>
                <option value="Panama">Panama</option>
                <option value="Papua New Guinea">Papua New Guinea</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Peru">Peru</option>
                <option value="Philippines">Philippines</option>
                <option value="Pitcairn">Pitcairn</option>
                <option value="Poland">Poland</option>
                <option value="Portugal">Portugal</option>
                <option value="Puerto Rico">Puerto Rico</option>
                <option value="Qatar">Qatar</option>
                <option value="Reunion">Reunion</option>
                <option value="Romania">Romania</option>
                <option value="Russian Federation">Russian Federation</option>
                <option value="Rwanda">Rwanda</option>
                <option value="Saint Helena">Saint Helena</option>
                <option value="Saint Kitts and Nevis">
                  Saint Kitts and Nevis
                </option>
                <option value="Saint Lucia">Saint Lucia</option>
                <option value="Saint Pierre and Miquelon">
                  Saint Pierre and Miquelon
                </option>
                <option value="Saint Vincent and The Grenadines">
                  Saint Vincent and The Grenadines
                </option>
                <option value="Samoa">Samoa</option>
                <option value="San Marino">San Marino</option>
                <option value="Sao Tome and Principe">
                  Sao Tome and Principe
                </option>
                <option value="Saudi Arabia">Saudi Arabia</option>
                <option value="Senegal">Senegal</option>
                <option value="Serbia">Serbia</option>
                <option value="Seychelles">Seychelles</option>
                <option value="Sierra Leone">Sierra Leone</option>
                <option value="Singapore">Singapore</option>
                <option value="Slovakia">Slovakia</option>
                <option value="Slovenia">Slovenia</option>
                <option value="Solomon Islands">Solomon Islands</option>
                <option value="Somalia">Somalia</option>
                <option value="South Africa">South Africa</option>
                <option value="South Georgia and The South Sandwich Islands">
                  South Georgia and The South Sandwich Islands
                </option>
                <option value="Spain">Spain</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="Sudan">Sudan</option>
                <option value="Suriname">Suriname</option>
                <option value="Svalbard and Jan Mayen">
                  Svalbard and Jan Mayen
                </option>
                <option value="Swaziland">Swaziland</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Syrian Arab Republic">
                  Syrian Arab Republic
                </option>
                <option value="Taiwan">Taiwan</option>
                <option value="Tajikistan">Tajikistan</option>
                <option value="Tanzania, United Republic of">
                  Tanzania, United Republic of
                </option>
                <option value="Thailand">Thailand</option>
                <option value="Timor-leste">Timor-leste</option>
                <option value="Togo">Togo</option>
                <option value="Tokelau">Tokelau</option>
                <option value="Tonga">Tonga</option>
                <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                <option value="Tunisia">Tunisia</option>
                <option value="Turkey">Turkey</option>
                <option value="Turkmenistan">Turkmenistan</option>
                <option value="Turks and Caicos Islands">
                  Turks and Caicos Islands
                </option>
                <option value="Tuvalu">Tuvalu</option>
                <option value="Uganda">Uganda</option>
                <option value="Ukraine">Ukraine</option>
                <option value="United Arab Emirates">
                  United Arab Emirates
                </option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States">United States</option>
                <option value="Uruguay">Uruguay</option>
                <option value="Uzbekistan">Uzbekistan</option>
                <option value="Vanuatu">Vanuatu</option>
                <option value="Venezuela">Venezuela</option>
                <option value="Viet Nam">Viet Nam</option>
                <option value="Virgin Islands, British">
                  Virgin Islands, British
                </option>
                <option value="Virgin Islands, U.S.">
                  Virgin Islands, U.S.
                </option>
                <option value="Wallis and Futuna">Wallis and Futuna</option>
                <option value="Western Sahara">Western Sahara</option>
                <option value="Yemen">Yemen</option>
                <option value="Zambia">Zambia</option>
                <option value="Zimbabwe">Zimbabwe</option>
              </select>
              <!-- Country -->
              <input
                type="text"
                name="city"
                id="city"
                placeholder="City"
                required
              />
              <input
                type="text"
                name="street"
                id="street"
                placeholder="Street Address (optional)"
              />
              <input
                type="text"
                name="postal"
                id="postal"
                placeholder="Postal Code (optional)"
              />
            </div>
            <h2>Other Info:</h2>
            <div class="group">
              <input
                type="text"
                name="promocode"
                id="promocode"
                placeholder="promocode (optional)"
              />
              <select id="referral" name="referral" required>
                <option value="" disabled selected>
                  How did you hear about us?
                </option>
                <option value="friend">A Friend</option>
                <option value="social_media">Social Media</option>
                <option value="search_engine">Search Engine</option>
                <option value="advertisement">Advertisement</option>
                <option value="event">Event</option>
                <option value="other">Other</option>
              </select>
            </div>
            <!-- Other -->
            <div class="other">
              <div>
                <label for="initiative"
                  >I am applying for
                  <a href="/#dmh">DMH Programming Literacy Initiative</a></label
                >
                <input type="checkbox" name="initiative" id="initiative" />
              </div>
              <div>
                <label for="aid">I am applying for financial aid</label>
                <input type="checkbox" name="aid" id="aid" />
              </div>
              <div>
                <label for="terms">I agree to the Terms & Conditions</label>
                <input type="checkbox" name="terms" id="terms" required />
              </div>
            </div>
            <br />
            <button type="submit" class="btn btn-navy" style="font-size: 30">
              Submit
            </button>
          </form>
          <div class="boy">
            <img src="assets/computer.svg" alt="computer" />
          </div>
        </div>
      </div>
    </section>

    <div class="small-screen-alert">
      <img src="assets/logo/logo.svg" alt="dmh" />
      <h3>
        For best experience, It's better to surve our website from laptop or
        personal computer.
      </h3>
    </div>

    <footer id="contact">
      <div class="parent">
        <div class="master">
          <div>
            <h3>GET IN TOUCH</h3>
            <div class="des">
              <div>
                Email:
                <a href="mailto:info@digitalmindshub.org"
                  >info@digitalmindshub.org</a
                >
              </div>
              <div>Phone: <a href="tel:+201067288605">+20-106-728-8605</a></div>
              <div>Website: www.digitalmindshub.org</div>
              <div>Address: Cairo, Egypt</div>
            </div>
          </div>
          <div>
            <h3>About us</h3>
            <div class="des">
              <div><a href="/#about">Our Goals</a></div>
              <div><a href="/#why">Why Digital Minds Hub?</a></div>
              <div><a href="/#who">Who Are We ?</a></div>
            </div>
          </div>
          <div>
            <h3>DMH Initiative</h3>
            <div class="des">
              <div><a href="/#dmh">Criteria</a></div>
              <div><a href="/register">Registration </a></div>
            </div>
          </div>
          <div>
            <h3>Feedback</h3>
            <div class="des">
              <div><a href="/#videos">Students Videos</a></div>
              <div><a href="/#feedback">Written Feedback</a></div>
            </div>
          </div>
          <div>
            <h3>Courses and Pricing</h3>
            <div class="des">
              <div><a href="/#courses">How Does Our pricing Work ?</a></div>
              <div><a href="#cert">Certificates</a></div>
            </div>
          </div>
          <img src="assets/phone.svg" alt="phone" class="bell" />
        </div>
        <div class="foo">
          <img src="assets/icons/instaf.svg" alt="Social" onclick="window.open('https://www.instagram.com/digitalmindshub_tech/', '_blank');" />
          <img src="assets/icons/facebook.svg" alt="Social" onclick="window.open('https://www.facebook.com/profile.php?id=61551117355636', '_blank');" />
          <img src="assets/icons/whatsapp.svg" alt="Social" onclick="window.open('https://wa.me/201067288605');" />
          <img src="assets/icons/linkedin.svg" alt="Social" onclick="location.href= 'https://google.com'" />
        </div>
        <div class="tail">
          <div>©2024DMH. All rights reserved.</div>
          <div>
            <a href="">Terms and conditions</a>
            <a href="">Privacy policy</a>
          </div>
        </div>
      </div>
    </footer>

    <script>
      let logo = document.getElementById("logo");

      logo.onclick = function () {
        location.href = "/";
      };

    </script>
  </body>
</html>
